/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

/* Header, Grid Wrapper, Footer */
header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Navigation Bar */
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

nav a:hover {
    background-color: white;
    color: steelblue;
}

/* Headings */
h1 {
    color: darkblue;
    border-bottom: 2px solid steelblue;
    padding-bottom: 0.25rem;
    margin: 1rem 0;
}

/* Main */
main img {
    width: 180px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

/* Paragraphs */
p {
    margin: 1rem 0;
}

/* Aside */
aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 140px;
}

/* Grid Layout */
.grid {
    display: grid;
    align-items: center;
}

/* Main grid placement */
main {
    grid-column: 2/3;
    margin: 1rem;
}

/* Footer */
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Utility Classes */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 3rem;
}