.callout {
    max-width: 400px;
    padding: 10px;
    border: 1px solid rgb(red, green, blue);
    padding: 15px;
    background-color: darkblue;
    color: firebrick;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid darkgray;
    padding: 3px;
    background-color: grey;
    width: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted #fff;
    text-align: right;
    font-size: smaller;
}